<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>R.O.L.E.X</title>
    <!-- <link rel="icon" href="/static/Rolex.png" type="image/png"> -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nabla">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='script.js')}}" defer></script>
    <script src="https://kit.fontawesome.com/618758b97a.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="hero">
        <!-- <nav> 
        <div class="logo"><img src="{{ url_for('static', filename='rolex.png')}}" alt="Rolex"></div>
       
        <a href="http://localhost:5000/documentation">Documentation</a>
        <a href="http://localhost:5000/about">about us</a>
        <a href="http://localhost:5000/contact">Contact us</a>
         
        </nav> -->
        <Section class="navbar">
          <div class="logo">
              <img src="/static/Rolex.png" alt="logo">
          </div>
          <div>
              <nav>
                  <ul>
                    <li><a href="#"><i class="fa-solid fa-house"></i> Home</a></li>
                    <li><a href="http://localhost:5000/contact"><i class="fa-solid fa-phone"></i> Contact</a></li>
                    <li><a href="http://localhost:5000/about"><i class="fa-solid fa-circle-info"></i> About</a></li>
                      
                  </ul>
              </nav>
          </div>
          
          <!-- <div class="loginbtn">
               <button class="nbtn"id="btn" onclick="loginpage()"><i class="fa-solid fa-user"></i>&nbsp;&nbsp;</button>
          </div>
               -->
      </Section>

            <div class="word">
                <!-- <h2>Innovative assistance,
                    <br>Infinite Possibilities</h2> -->
            </div>   
            <div id="loader" class="loader"></div>
            <br>
            <div class="start-button-container">
              <button id="start-button" class="animate-button">Get started</button>          
         </div>   
         <div id="popup" class="popup">
          <div class="popup-content">
            <span class="close" id="closePopup">&times;</span>
            <h2>Note:</h2>
            <br>
            <p>Before we proceed, we need your permission to access start the Rolex. </p>
            <p>Rest assured, your data is securely stored locally on your device, ensuring your privacy and confidentiality.</p>
            <p>By clicking the Start button, you agree to terms and conditions. If you have any concerns or questions about how your data is handled, please feel free to reach out to us.</p>
            <div class="popup-button-container"><div class="disagree-box-container"><button id="disagreeButton">Start Rolex</button></div>
            <div class="confirm-box-container"><button id="confirmButton">Back</button></div></div>
          </div>
        </div>
        <div id="apiKeyPopup" class="settings" style="display: none;">
          Enter your Google api key: <a href="https://ai.google.dev/" target="_blank">get google api key</a>
          <br>  
          <input type="text" id="googleApiKey" placeholder="Enter your Google API key" required>
          <br>
          <button id="save_api_button">Submit</button>
      </div>
  
         <video class="hero-video" autoplay muted loop>
            <source src="{{ url_for('static', filename='Futuristic interface   HUD sound effects (1).mp4')}}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        
    </div>
      
    <footer>@group BG-2 All rights Reserved</footer>
    <!-- <script>
     const startButton = document.getElementById("start-button-container");

      startButton.addEventListener("click", function () {
        window.location.href = "input.html"; // Replace with the actual URL of your Virtual Assistant page
      });
        </script> -->
</body>
</html>